.note-form {
  margin: 0 auto;
  max-width: 600px;
  min-height: 60px;
  transition: background 0.2s;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 1px rgba(89, 89, 89, 0.53);
  padding: 20px 0px 6px 0px;
  @media (max-width: 650px) {
    margin: 0 25px;
  }
  @media (max-width: 600px) {
    margin: 0 10px;
  }
  .formGroup {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    input {
      border: none;
    color: #000;
    display: block;
    width: 100%;
    font-size: 18px;
    // display:none;
    outline: none;
    background: transparent;
    &::placeholder {
      color: #3c4043;
      opacity: 1;
    }
    }
    .textArea{
      border: none;
      color: #000;
      display: block;
      width: 100%;
      font-family: "Noto Sans", sans-serif;
      font-size: 13px;
      font-weight: bold;
      outline: none;
      /* height:100%; */
      resize: none;
      background: transparent;
      overflow: hidden;
      min-height: 10px;
      &::placeholder {
        color: #3c4043;
        opacity: 1;
      }
    }
    button {
      opacity: 1;
      color: #666;
      border: none;
      margin-right: 15px;
      background: transparent;
      outline: none;
      cursor: pointer;
      &:hover {
        color: #333;
        cursor: pointer;
      }
    }
  }
}
.formToolsGroup{
    margin: 10px 20px 0 20px !important;
    align-items: center;
    transition: opacity 200ms;
    
}
